@import "./mixins";

@mixin Row1 {
  .row1 {
    @include Flex(null, center);
    padding: 20px;
    box-sizing: border-box;
    border-top: 10px solid rgba(128, 128, 128, 0.233);
    border-bottom: 10px solid rgba(128, 128, 128, 0.233);

    @include breakpoint(700px) {
      @include Flex(null, center, column);
    }

    article {
      @include breakpoint(700px) {
        text-align: center;
      }

      h1 {
        font-size: 40px;
        margin: 20px 0px;
        font-weight: bold;

        @include breakpoint(600px) {
          font-size: 30px;
        }
      }
      p {
        font-size: 22px;
        line-height: 30px;

        @include breakpoint(600px) {
          font-size: 18px;
        }
      }
    }

    > img {
      max-width: 500px;

      @include breakpoint(900px) {
        max-width: 400px;
      }

      @include breakpoint(800px) {
        max-width: 380px;
      }

      @include breakpoint(600px) {
        max-width: 100%;
      }
    }
  }
}
